img {
    background-image: url(img_download.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: crimson;
}

body {
    background-color: black;
}

a {
    color: #EB5353;
}

h2 {
    color: #EB5353;
}

label {
    color: aqua;
}

input {
    color: #EB5353;
}

body {
    color: blue;
}


/*******************************class selter*************************/

.movizone {
    font-size: 1000%;
}


/*************************** id ****************************/

#table {}